:root {
	--mainColor: #ffff66;
	--secondColor: #0066ff;
	--thirdColor: #006A6A;
}

/**********BODY**********/

body {
	margin: 0;
	background-color: var(--secondColor);
}

/**********NAVIGATION BAR**********/

.menu {
	margin-bottom: 1%;
	width: 100%;
	height: auto;
	background-color: var(--mainColor);
	font-family: 'Raleway', sans-serif;
}

.menu ul {
	margin: 0;
	padding: 0;
}

.menu ul li {
	display: inline-block;
	position: relative;
	padding: 15px 0 15px 0;
	cursor: pointer;
	color: white;
}

.menu ul li a {
    color: white;
    text-align: center;
	padding: 14px 16px;
    text-decoration: none;
   	font-size:1em;
}

.menu ul li:hover {
	background: var(--secondColor);
}

.menu ul li ul {
	z-index: 2;
	padding: 0;
	position: absolute;
	top: 48px;
	right: 0;
	width: 150px;
	box-shadow: none;
	display: none;
	opacity: 0;
	visibility: hidden;
}

.menu ul li ul li {
	background: var(--secondColor);
	display: block;
	text-shadow: 0 -1px 0 #000;
}

.menu ul li ul li:hover {
	background: var(--thirdColor);
}

.menu ul li:hover ul {
	display: block;
	opacity: 1;
	visibility: visible;
}

.userMenu {
	float: right;
}

.userMenu {
	float: right;
}

.activeTab {
	background-color: var(--secondColor);
}

/**********FOOTER**********/

.footer {
	clear: both;
	text-align: center;
	width:100%;
	left:0;
	background-color: var(--mainColor);
	margin-top: 1%;
}

/**********CONTAINER**********/

.pageContainer {
	margin: 0 auto;
	width: 73.45%;
}

.pageContainer > div {
	clear: both;
	margin-bottom: 1%;
}

/**********LOGIN FORM**********/

.loginRegisterForm {
	width: 22%;
	border: 4px solid var(--mainColor);
	background-color: var(--secondColor);
	padding: 2% 2% 0 2%;
	margin: 0 auto;
}

.loginRegisterForm {
	margin-bottom: 3%;
	text-align: center;
}

/**********INDEX PAGE**********/

.roller {
	width: 100%;
	height: 200px;
	background-color: var(--thirdColor);
}

.roller > .item {
	width: 100%;
    margin-bottom: 1%;
    background-color: var(--thirdColor);
    float: left;
}

.roller > .item > .itemImage {
	width: 100%;
	height: 200px;
	overflow: hidden;
}

.roller > .item > .itemDescription {

}


.categories {
	width: 100%;
	height: 50px;
	background-color: var(--thirdColor);
}

.news {
	width: 100%;
}


.article {
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
	color: #ffffff;
	float: left;
	font-family: 'Lato', Arial, sans-serif;
	font-size: 16px;
	margin: 10px 1%;
	max-width: 310px;
	min-width: 250px;
	overflow: hidden;
	position: relative;
	text-align: left;
	width: 100%;
}

.article * {
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	-webkit-transition: all 0.25s ease;
	transition: all 0.25s ease;
}

.article img {
	height: 300px;
	max-width: 100%;
	vertical-align: top;
	position: relative;
}

.article figcaption {
	padding: 25px 20px 25px;
	position: absolute;
	bottom: 0;
	z-index: 1;
}

.article figcaption:before {
	position: absolute;
	top: 0;
	bottom: 0;
	left: 0;
	right: 0;
	background: #700877;
	content: '';
	background: -moz-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
	background: -webkit-linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
	background: linear-gradient(90deg, #700877 0%, #ff2759 100%, #ff2759 100%);
	opacity: 0.8;
	z-index: -1;
}

.article .date {
	background-color: #fff;
	border-radius: 50%;
	color: #700877;
	font-size: 18px;
	font-weight: 700;
	min-height: 48px;
	min-width: 48px;
	padding: 10px 0;
	position: absolute;
	right: 15px;
	text-align: center;
	text-transform: uppercase;
	top: -25px;
}

.article .date span {
	display: block;
	line-height: 14px;
}

.article .date .month {
	font-size: 11px;
}

.article h3, .article p {
	margin: 0;
	padding: 0;
}

.article h3 {
	display: inline-block;
	font-weight: 700;
	letter-spacing: -0.4px;
	margin-bottom: 5px;
}

.article p {
	font-size: 0.8em;
	line-height: 1.6em;
	margin-bottom: 0px;
}

.article a {
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
	position: absolute;
	z-index: 1;
}

.article:hover img, .article.hover img {
	-webkit-transform: scale(1.1);
	transform: scale(1.1);
}